


<footer class="pt-4 foot " style="background-color:#2D2E2B;" th:fragment="footer">
   <div class="container text-muted">
       <div class="row ">
           <div class="col-4 col-md  ">
              <a class="navbar-brand" href="#"><img src="../img/LOGO_RESTAURANTE.gif" class="img-fluid " width="130px" height="80px" alt=""></a>
      
            </div>
            <div class="col-4 col-md  d-flex justify-content-center ">
              <h5>Contáctanos</h5>
      
            </div>
            <div class="col-4 col-md ">
              <h5>Nosotros</h5>
      
            </div>
            <div class="col-12 text-center col-md mb-2">
              <h5>Redes Sociales</h5>
      
              <a class="" href="#" style=" color:#070707; font-size:40px;"><i class="bi bi-whatsapp c"></i></a>
      
              <a class="" href="#" style=" color:#070707; font-size:40px;"><i class="bi bi-facebook c"></i></a>
              <a class="" href="#" style=" color:#070707; font-size:40px;"><i class="bi bi-instagram c"></i></a>
      
            </div>
            <hr class=" d-block d-sm-block d-md-none">
            <div class="row-fluid ">
              <div class="text-center ">
                <small class="d-block mb-3 text-muted h6"> ©2021 copyright La Chamcha </small>
              </div>
            </div>
       </div>      
  </div>
</footer>

<!-- Carta -->
<div class="container p-4 caja-comida " th:fragment="carta">
  <div class="row">
      <div class="col-5 ">
          <img class="w-100 h-100 img-fluid" src="../static/img/Comidas1/${rowProducto.imageFileName}"
              th:src="@{'/img/Comidas1/'+${rowProducto.imageFileName}}">

      </div>
      <div class="col-7 text-light ">
          <h5 class="card-title text-center h5">
              <p th:text="${rowProducto.menu}" />
          </h5>
          <div class="mb-3 ">
              <span class="card-text h7 justify-content-left "
                  th:text="${rowProducto.descripcion}"></span>

          </div>
          <div class="bg-dark rounded-3 mb-2">

              <a href="" class="   rounded-3 " style="text-decoration: none; color: beige;">
                  <div class="  d-md-block   d-flex justify-content-between align-items-center">
                      <div class="d-flex justify-content-between align-items-center">
                          <h6 class=" text-left">Agregar</h6>
                          <h6 class="text-end">s/</h6>
                          <h6 class="text-end" th:text="${rowProducto.precio}"></h6>
                      </div>
                  </div>
          </div>
          </a>
      </div>

  </div>

</div>
